<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom rounded">
    
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""> 
        <img src="../../../assets/memo.png" alt="PIC GOES HERE" height="30" class="d-inline-block align-text-top">
        Heyo Examo
      </a>

      <div class="navbar-collapse" id="navbarSupportedContent" mdbCollapse>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" routerLink="quizConfig">| Take a Quiz |</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="allQuestions">| See All Questions |</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="create">| Add Questions |</a>
          </li>
        </ul>

        <!--Socials-->
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                  <i-bs name="chat-square-text"></i-bs>
                </a>
              </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="https://github.com/benp3837">
                <i-bs name="github"></i-bs>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="https://www.linkedin.com/in/benp3837">
                  <i-bs name="linkedin"></i-bs>
                </a>
              </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" routerLink="profile">
                    <i-bs name="file-person"
                        width="25"
                        height="25">
                    </i-bs>
                </a>
            </li>
        </ul>
      </div>
    </div>
</nav>